# Core functionality - changes here should be rare!
/src/app.py                   @kpatenaude
/src/backend/database.py      @kpatenaude
/src/backend/routers/auth.py  @kpatenaude

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kpatenaude
